@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Pacifico&family=Special+Elite&family=Vina+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --tran-02: all 0.2s ease ;
  --tran-03: all 0.3s ease ;
  --tran-04: all 0.4s ease ;
  --tran-05: all 0.5s ease ;
}

body{
  background: url("https://images.unsplash.com/photo-1508614823792-1f56af914148?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGJhY2tncm91bmQlMjB5ZWxsb3d8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60") center center/cover;
  display: flex;
  justify-content: center;
  height: 100vh;
}

/* Header */
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 20px 30px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  z-index: 99;
}

.logo{
  font-size: 1.9rem;
  user-select:none ;
  font-family: 'Macondo', cursive;
  color: #162938;
  transition: var(--tran-05);
}

.logo span{
  border: 1px solid #162938;
  border-radius: 30%;
  padding: 4px;
  transition: var(--tran-05);
}

.navigation{
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
}

.navigation a{
  position: relative;
  font-size: 1rem;
  color: #162938;
  font-weight: 600;
  margin-left: 30px;
  text-decoration: none;
  transition: var(--tran-05);
}

.navigation a::after{
  content: '' ;
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 3px;
  background: black;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .3s;
  transform-origin: left;
}

.navigation a:hover::after{
  transform: scaleX(1);
  background:black;
}

/* Main */
.main-content{
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  transition: var(--tran-05); 
}

.concept-text{
  width: 40%;
  font-weight: 600;
  font-size: 1.4rem;
  backdrop-filter:  blur(1px);
  color: floralwhite;
  transition: var(--tran-05); 
}

.wrapper{
  position: relative;
  width: 30vw;
  height: 450px;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  backdrop-filter:  blur(10px) ;
  box-shadow: 1px 1px 10px black;
  transition: var(--tran-02); 
}

.wrapper h2{
  font-size: 1.5rem;
  text-align: center;
  color: #162938;
  transition: var(--tran-05); 
}

.wrapper 
.form-box{
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;
  transition: var(--tran-05); 
}

.wrapper 
.form-box 
.login-alert{
  font-size: .8rem;
  text-align: center;
  color: rgb(255, 3, 3);
  font-weight: 600;
  padding: 2px;
}

.input-box{
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}

.input-box label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #162938;
  font-weight: 700;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
  top: -6px;
}

.input-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  color: #162938;
  background-color: transparent;
  border-radius: 5px;
}

.input-box #password{
  padding: 0 0 0 95px;;
}

.input-box #email{
  padding: 0 34px 0 80px;
}

.remember-forgot{
  font-size: 1rem;
  color: #162938;
  font-weight: 500;
  margin: 15px 0 15px ;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  transition: var(--tran-05); 
}

.remember-forgot label input{
  accent-color: #162938;
  margin-right: 3px;
  transform: translateY(2px);
}

.remember-forgot a{
  text-decoration: none;
  color: #162938;
}

.remember-forgot a:hover{
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background-color: #162938;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  font-weight: 500;
  transition: var(--tran-05); 
}

.login-register{
  font-size: 1rem;
  color: #162938;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
  transition: var(--tran-05); 
}

.login-register p a {
  text-decoration: none;
  color: #162938;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}


/* Footer */

footer{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  padding-bottom: 20px; 
  background-color: transparent;
  text-align: center;
}

footer p{
  font-size: 1rem;
  font-weight: 600;
  color: #162938;
  transition: var(--tran-05); 
}


