@charset "UTF-8";
@media only screen and (max-width:576px){
  .letter {
    font-size: 28px;
  }
}

@media only screen and (min-width: 577px) and (max-width:768px){
  .letter {
    font-size: 31px;
  }
}

@media only screen and (min-width: 769px) and (max-width:992px){
  .letter {
    font-size: 34px;
  } 
}

@media only screen and (min-width: 993px) and (max-width:1200px){
  .letter {
    font-size: 37px;
  }
}


